/*----------------------------------(main_page)-------------------------------------------------------*/
body{
	background-color: rgb(176, 196, 222);
	margin: 0;
}
li{
	display: inline;
	padding: 20px;
}
ul.all{
	background-color: rgb(70, 130, 180);
	padding: 15px;
	text-align: center;
}
header.all{	
	margin: 0 auto;
	width: 100%;	
}
a:link, a:visited, a:active{
	color: rgb(255,255,255);
}
a{
	text-decoration:none;
}
div.I{
	text-align: center;
	margin: 20px;
}
img.I{
	width: 200px;
	border-radius: 100%;
}
div.soc{	
	margin: 20px;
	text-align: center;
}
img.soc{	
	width: 40px;
	height: 40px;
}
h1{
	color: rgb(0, 0, 139);
	text-align:center;
}
div.other{
	text-align:center;
	color: rgb(70, 130, 180);
	font-size: 120%;
	font-weight: 700;
}
/*----------------------------------(/main_page)-------------------------------------------------------*/
/*----------------------------------(hobby_page)-------------------------------------------------------*/
div.hobby{
	background-color: rgb(70, 130, 180);
	padding: 15px;
	margin-top: 600px;
	color: rgb(255,255,255);
	width: 100%;
}
span.hobby{
	padding-left: 15%;
}
span.hobby_pic{
	float:left;
	padding-right: 30px;
}
img.hobby_pic{
	width: 150px;
	height: 150px;
	border-radius: 100%;	
}
div.aaa_hobby{
	margin-left: 15%;
	margin-right: 15%;
	padding: 30px;
	font-size: 1.1rem;
	font-family: Arial, Verdana, 'Times New Roman', san-serif;
	padding-bottom: 100px;
}
table{		
	margin-left: 15%;
	margin-right: 15%;
	padding: 30px;
	font-size: 1.1rem;
	font-family: Arial, Verdana, 'Times New Roman', san-serif;
	padding-bottom: 100px;
}
td.hobby_pic_aaa{
	padding-right: 30px;
}
/*----------------------------------(/hobby_page)-------------------------------------------------------*/
/*----------------------------------(photo_page)-------------------------------------------------------*/
div.photo{
	background-color: rgb(70, 130, 180);
	padding: 15px;
	margin-top: 150px;
	color: rgb(255,255,255);
	width: 100%;
}
* {margin: 0; padding: 0;}
.slider{
	width: 1050px;
	position: relative;
	padding-top: 550px; 
	margin: 50px auto;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}
.slider>img{
  width:1050px;
	position: absolute;
	left: 0; top: 0;
	transition: all 0.5s;
}
.slider input[name='slide_switch'] {
	display: none;
}
.slider label {
	margin: 18px 0 0 18px;
	border: 3px solid #999;
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	opacity: 0.6;
}
.slider label img{
	display: block;
}
.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}
.slider input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}
.slider input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}
/*----------------------------------(/photo_page)-------------------------------------------------------*/
/*----------------------------------(friends_page)-------------------------------------------------------*/
div.friends{
	background-color: rgb(70, 130, 180);
	padding: 15px;
	margin-top: 400px;
	color: rgb(255,255,255);
	width: 100%;
}
img.dydec{
	width: 400px;
	height: 400px;
	border-radius: 100%;
}
div.dydec{
	text-align: center;
	font-size: 4rem;
	margin-top: 100px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
div.dydec_dydec{
	text-align: center;
	margin-top: 50px;
}
/*----------------------------------(/friends_page)-------------------------------------------------------*/
/*----------------------------------(projects_page)-------------------------------------------------------*/
div.projects{
	background-color: rgb(70, 130, 180);
	padding: 15px;
	margin-top: 500px;
	color: rgb(255,255,255);
	width: 100%;
}
/*----------------------------------(/projects_page)-------------------------------------------------------*/
/*----------------------------------(footer)-------------------------------------------------------*/
footer{
	margin: 0 auto;
	background-color: rgb(70, 130, 180);
	padding: 15px;
	margin-top: 220px;
	color: rgb(255,255,255);
	width: 100%;
	
}