body{
	background-color: rgb(227, 241, 249);
	margin: 0;
	font-family: Arial, 'Times New Roman', serif;
}
html,body{
	height: 100%;
}
div.page{
	min-height: 100%;
	position: relative;
}
/*----------------------------------(header)-------------------------------------------------------*/
header{
	width: 100%;
	background-color: rgb(27, 31, 45);
}
div.header{
	width: 1000px;
	margin:auto;
	height: 200px;
}
.header_pic{
	background-image:url(../pic/header-bg.png);
	background-repeat:no-repeat;
	float:right;
	width: 435px;
	height: 198px
}
div.tr{
	position: relative;
}
span.tr-1{
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 2.234rem;	
	top: 45px;
	left: 51px;	
}
span.tr-2{
	position: absolute;
	color: rgb(191, 212, 222);
	font-weight: bold;
	font-size: 1.124rem;
	left: 50px;
	top: 89px;
}
span.tr-3{
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 1.56rem;
	left: 49px;
	top: 110px;
}
/*----------------------------------(/header)-------------------------------------------------------
----------------------------------(registration)-------------------------------------------------------*/
div.registration{
	width: 100%;
	background-color: rgb(191, 212, 222);
	padding: 15px 0 14px 0;
}
div.text{
	width: 1000px;
	margin: auto;
	font-weight: bold;	
}
div.text div{
	padding-left: 48px;
	font-size: 1.7rem;
	letter-spacing: -0.02em;
}
/*----------------------------------(/registration)-------------------------------------------------------
----------------------------------(input)-------------------------------------------------------*/
div.all_input{
	margin: auto;
	width: 1000px;
	background-color: rgb(255, 255, 255);
	padding-bottom: 40px;
}
div.text_two{
	padding: 39px 0 50px 49px;
	font-style: italic;
}
div.input{	
	margin: auto;
	width: 91%;
	height: 500px;
}
div.input_left{
	width: 444px;
	float:left;
	clear: left;
	text-align: right;
	padding: 10px 10px 21px 10px;
	font-weight: bold;
	font-size: 0.8rem;
}
div.input_right{
	width: 410px;
	float: right;
	clear: right;
	text-align: right;
	padding: 10px 5px 14px 10px;
	font-weight: bold;
	font-size: 0.8rem;
}
label{
	padding-right: 20px; 
}
#first,#last,#address_1,#address_2,#city,#code,#phone,#fax,#email,#title,#department,#org{
	width: 254px;
	height: 23px;
}
select{
	width: 259px;
	height: 30px;
}
div.input div:nth-child(15){
	text-align: left;
	padding-left: 44px; 
}
[type="submit"]{
	background-color: rgb(54, 70, 84);
	color: rgb(255, 255, 255);
	border-radius: 5px;
	width: 130px;
	height: 30px;
	border: 1px solid  rgb(54, 70, 84);
	font-weight: bold;
	font-size: 0.9rem;
}
label.required:after{
  content:"*";
}
/*---------------------------------(/input)-------------------------------------------------------
----------------------------------(footer)-------------------------------------------------------*/
footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: rgb(54, 70, 84);	
}
div.footer{
	width: 1000px;
	margin:auto;
	color: rgb(255, 255, 255);
}
div.footer div:nth-child(3){
	float: right;
	padding: 12px 25px 0 0px;
	font-size: 0.9rem;
}
div.footer div:nth-child(2){
	float: right;
	padding: 12px 85px 0 1px;
	font-size: 0.9rem;
}

div.footer div:nth-child(1){
	float: left;
	padding: 14px 58px;
	font-size: 0.9rem;
}
a:link,a:visited,a:active{
	color: rgb(255, 255, 255);
	text-decoration: underline;
}
a:hover{
	color: rgb(255, 255, 255);
	text-decoration: none;
}
/*----------------------------------(/footer)-------------------------------------------------------*/
/*------------------------------------(adaptation)---------------------------------------------*/
/*------------------------------------(max-width: 1220px)---------------------------------------------*/
@media screen and (max-width: 1220px){
.header_pic{
	background-size: 320px 150px;
	background-position: right top;
	width: 320px;
	height: 150px;
}
div.text{
	width: 600px;
	margin: auto;
	font-weight: bold;	
}
div.all_input{
	margin: auto;
	width: 600px;
	background-color: rgb(255, 255, 255);
	padding-bottom: 40px;
}
div.header{
	width: 600px;
	margin:auto;
	height: 150px;
}
span.tr-1{
	font-size: 1.45rem;	
	top: 30px;
	left: 30px;	
}
span.tr-2{
	font-size: 0.7rem;
	left: 30px;
	top: 58px;
}
span.tr-3{
	font-size: 1.1rem;
	left: 30px;
	top: 73px;
}
div.registration{
	padding: 13px 0 12px 0;
}
div.text div{
	padding-left: 55px;
	font-size: 1.5rem;
}
div.input{	
	margin: auto;
	width: 91%;
	height: 920px;
}
div.input_left{
	width: 463px;
	float:left;
	margin-bottom: 5px;
	clear: left;
	text-align: right;
	padding: 10px 10px 14px 10px;
}
div.input_right{
	width: 463px;
	float: left;
	margin-bottom: 5px;
	clear: right;
	text-align: right;
	padding: 10px 10px 14px 10px;
}
div.all_input{
	padding-bottom: 50px;
}
div.footer{
	width: 600px;
}
}
/*------------------------------------(max-width: 980px)---------------------------------------------*/
@media screen and (max-width: 980px){	
div.header{
	width: 65%;
	margin:auto;
	height: 150px;
}
span.tr-1{;
	font-size: 1.3rem;	
	top: 30px;
	left: 30px;	
}
span.tr-2{
	font-size: 0.74rem;
	left: 30px;
	top: 55px;
}
span.tr-3{
	font-size: 1.1rem;
	left: 30px;
	top: 69px;
}
div.text{
	width: 65%;
	margin: auto;
	font-weight: bold;	
}
div.all_input{
	width: 65%;
}
div.text_two{
	padding: 39px 0 40px 67px;
}
div.input_left{
	font-size: 0.9rem;
}
div.input_right{
	font-size: 0.9rem;
}
div.footer{
	width: 65%;
}
div.footer div:nth-child(3){
	padding: 12px 25px 0 0px;
}
div.footer div:nth-child(2){
	padding: 12px 55px 0 1px;
}
div.footer div:nth-child(1){
	padding: 14px 40px;
}
}
/*------------------------------------(max-width: 768px)---------------------------------------------*/
@media screen and (max-width: 768px){
.header_pic{
	display: none;
}
div.header{
	width: 480px;
	margin:auto;
	height: 150px;
}
span.tr-1{
	left: 20px;	
}
span.tr-2{
	left: 20px;
}
span.tr-3{
	left: 20px;
}
div.text{
	width: 480px;	
}
div.all_input{
	width: 480px;
}
div.text_two{
	padding: 20px 10px 40px 20px;
}
div.input_left{
	font-size: 0.9rem;	
	width: 420px;
}
div.input_right{
	font-size: 0.9rem;
	width: 420px; 
}
div.all_input{
	padding-bottom: 70px;
}
div.input div:nth-child(15){
	text-align: left;
	padding-left: 68px;
	width:300px;
}
div.footer{
	width: 480px;
}
}
/*------------------------------------(max-width: 480px)---------------------------------------------*/
@media screen and (max-width: 480px){	
div.text div{
	padding: 0;
}
div.text{
	width:280px;
}
div.header{
	width: 300px;
	margin:auto;
	height: 130px;
}
span.tr-1{
	top: 10px;
	left: 20px;	
}
span.tr-2{
	top: 63px;
	left: 20px;
}
span.tr-3{
	top: 90px;
	left: 20px;
}
div.all_input{
	width: 100%;
}
div.text_two{
	padding: 20px 5px 40px 20px;
	width: 290px;
}
div.input_left{
	font-size: 1rem;	
	width: 250px;
	text-align: left;
}
div.input_right{
	font-size: 1rem;
	width: 300px;
	text-align: left;
}
div.all_input{
	padding-bottom: 300px;
}
div.footer{
	width: 200px;
}
div.footer div:nth-child(3){
	padding: 0px 5px 0 0px;
	font-size: 0.8rem;
	float: left;
}
div.footer div:nth-child(2){
	padding: 0px 0px 0 0px;
	font-size: 0.8rem;
}
div.footer div:nth-child(1){
	padding: 7px 0;
	font-size: 0.8rem;
	width: 100%;
	text-align: center;
}
div.input div:nth-child(15){
	text-align: left;
	padding-left: 68px;
	width:200px;
}
#first,#last,#address_1,#address_2,#city,#code,#phone,#fax,#email,#title,#department,#org{
	margin: 1px;
}	
}