body
{
	margin:0;
    height:100%;
}
/*-----------------------------------header-----------------------------------*/

.first-line
{
	background-color:rgb(17,26,41);
	height:200px;
	
}
.line-img
{
	width:1000px;
	margin: auto;
	background-image:url(../img/header-bg.png);
	background-repeat:no-repeat;
	background-position:right;
	height:200px;	
}
.one-line-text
{
	font-size: 2.2em;
	font-family: Arial, sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.111;
	margin-left:50.5px;
	padding-top:46px;
}
.second-line-text
{
	font-size: 1.1em;
	font-family: Helvetica, sans-serif;
	color: rgb(191, 212, 222);
	font-weight: 400;
	margin-left:50.5px;
	margin-top:3px;
}
.third-line-text
{
	font-size: 1.55em;
	font-family: Arial, sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.6;
	margin-left:50px;
	margin-top:-2.5px;
}	
/*-----------------------------------header-----------------------------------*/
								
/*-----------------------------------registration step-----------------------------------*/	
.second-line
{
	height:60px;
	background-color:rgb(191,212,222);
}
.registration-step
{
	font-size: 26px;
	font-family: Helvetica, sans-serif;
	color: rgb(24, 31, 48);
	font-weight: bold;
	line-height: 1.538;
	text-align: left;
	margin-left:50px;
	position:absolute;
	top:211px;
}
.center-two-line
{
	width:1000px;
	margin: auto;
}
/*-----------------------------------registration step-----------------------------------*/	
								
/*-----------------------------------form-----------------------------------*/	
.first-background
{
	background-color:rgb(227,241,249);
    min-height: calc(100vh - 49px);
}

								
								
.second-background
{
	height:650px;
	width:1000px;
	background-color:white;
	margin:auto;
}
.registration-material
{
	font-size: 1em;
	font-family: Arial, sans-serif;
	color: rgb(66, 70, 84);
	font-style: italic;
	line-height: 2.5;
	margin-left:50px;
	position:absolute;
	top:290px;
}
label
{
    font-size: 0.85em;
    font-family: Helvetica, sans-serif;
    color: rgb(66, 70, 84);
    font-weight: bold;
    line-height: 2.857;0
    text-align: right;
    margin-right:1px;
}
label:after
{
    content:"*";
}
.no-required-field:after
{
    content:normal;
}
input
{
	width:257px;
    margin-left:16px;
    height:26px;
    border-radius: 2px;
    border:1px solid rgb(204,204,204);
    
}
form
{   
    float:right;
    margin-top:22px;
    
}
select
{
    width:260px;
    height:30px;
    border-radius: 2px;
    border:1px solid rgb(204,204,204);
    margin-right:3px;
    font-size: 0.85em;
    font-family: Helvetica, sans-serif;
    color: rgb(66, 70, 84);
    font-weight: bold;
    line-height: 2.857;0
    text-align: right;
    margin-right:1px;
}
.title-drop-down-list
{
    margin-right:16px;
}
.buttom
{
    background-color: rgb(54,70,84);
    width:130px;
    height:30.5px;
    border-radius: 4px;
    font-size: 17px;
    font-family: Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-left:90px;
    margin-top:24px;
}
.first-name
{
    margin-top:93px;
    margin-left:143.5px;
    float:left;
}
.malling,.city,.postal-code,.work-phone,.email,.depatment
{
    margin-top:22px;
    margin-left:97px;
    float:left;
}
.city
{
    margin-left:188px;
}
.postal-code
{
    margin-left:135px;
}
.work-phone
{
    margin-left:137px;
}
.email
{
    margin-left:104px;
}
.depatment
{
    margin-left:74px;
}
.email
{
    margin-left:178px;
}
.depatment
{
    margin-left:148px;
}
.last-name
{
    float:right;
    margin-top:93px;
    margin-right:50px;
    
}
.malling-2,.state,.country,.fax,.title,.organization
{
    float:right;
    margin-top:22px;
    margin-right:50px;
}
.state
{
    margin-right:48px;
}
.country
{
    margin-right:47.5px;
}
.title
{
    margin-right:49px;
}
/*-----------------------------------form-----------------------------------*/

/*-----------------------------------footer-----------------------------------*/
.bottom-line
{
	height:49px;
	background-color:rgb(54,70,84);
}
.text-bottom-line
{
	width:1000px;
	margin:auto;	
}
.text1,.text2,.text3
{
	margin-top:7px;
	margin-left:60px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: rgb(255, 255, 255);
    line-height: 2.857;
    z-index: 6;
}
.text2,.text3
{
	text-decoration: underline;
	z-index: 5;
	margin-left:536px;
}
.text3
{
	margin-left:30px;
}
.text2:hover,.text3:hover
{
    text-decoration:none;
}
/*-----------------------------------footer-----------------------------------*/
@media screen and (max-width: 980px)
{
    .second-background
    {
        height:950px;
        width:768px; 
    }
    .block-registration
    {
        width: 420px;
        margin-left:140px;
    }
    .first-name
    {
        margin-top:93px;
        margin-left:0px;
        float:right;
    }
    .malling,.city,.postal-code,.work-phone,.email,.depatment
    {
        margin-top:15px;
        margin-left:0px;
        float:right;
    }
    .last-name
    {
        margin-top:15px;
        margin-right:0px;
        float:right;

    }
    .malling-2,.state,.country,.fax,.title,.organization
    {
        margin-top:15px;
        margin-right:0px;
        float:right;
    }
        .text-bottom-line
    {
        width:768px;	
    }
    .text2,.text3
    {
        margin-left:350px;
    }
    .text3
    {
        margin-left:10px;
    }
    .registration-material
    {
        margin-left:15px;
        width:auto;
    }
    .line-img
    {
        width:auto;
    }
        .center-two-line
    {
        width:auto;
    }
        .text-bottom-line
    {
        width:768px;
    }
}
@media screen and (max-width: 768px)
{
    .second-background
    {
        height:930px;
        width:480px; 
    }
    .block-registration
    {
        width: 420px;
        margin-left:20px;
    }
    .registration-material
    {
        margin-left:15px;
        width:460px;
    }
    .line-img
    {
        background-image:none;	
    }
    .text2,.text3
    {
        margin-left:60px;
    }
    .text3
    {
        margin-left:10px;
    }
    .text-bottom-line
    {
        width:480px;
    }
}
@media screen and (max-width: 560px)
{
    .first-line-text
    {
        width:400px;
    }
}
@media screen and (max-width: 485px)
{
    .one-line-text
    {
        padding-top:40px;
    }
    .second-line-text,.one-line-text,.third-line-text
    {
        margin-left:20px;
    }
    .second-background
    {
        height:950px;
        width:400px; 
    }
    .registration-material
    {
        width:390px;
    }
    .first-name
    {
        float:none;
        margin-left:5px;
        width:300px;
    }
    .malling,.city,.postal-code,.work-phone,.email,.depatment
    {
        float:none;
        margin-left:0px;
        width:300px;
    }
    .last-name
    {
        float:none;
        margin-left:0px;
        width:300px;
    }
    .malling-2,.country,.state,.fax,.title,.organization
    {
        float:none;
        margin-left:0px;
        width:300px;
    }
    .second-background
    {
        height:1350px;
        width:400px; 
    }
     .block-registration
    {
        width: 300px;
        margin-left:65px;
    }
    label
    {
        margin-left:20px;
    }
    .state
    {
        margin-left:15px;  
    }
    .country
    {
        margin-left:15px;
    }
    .title-drop-down-list
    {
        margin-left:4px;
    }
     .text-bottom-line
    {
        width:400px;
    }
    .bottom-line
    {
        height:70px;
    }
   .text1,.text2,.text3
    {
        margin-top:0;
        padding-top:7px;
        margin-left:110px;
        float:none;
    }
    .text2,.text3
    {
        float:left;
        margin-top:-10px;
        padding-top:0px;
        margin-left:145px;
    }
.text3
{
	margin-left:30px;
}
}
@media screen and (max-width: 400px)
{
    .one-line-text
    {
        padding-top:40px;
    } 
    .registration-material
    {
        width:290px;
    }
    .second-background
    {
        height:1400px;
        width:310px; 
    }
      .block-registration
    {
        padding-top: 50px;
        margin-left:25px;
    }
    .registration-step
    {
        margin-left:15px;
    }
     .text-bottom-line
    {
        width:auto;
    }
    .one-line-text
    {
        font-size: 2em;
    }
    .second-line-text
    {
        font-size: 0.9em;
    }
    .third-line-text
    {
        font-size: 1.35em;
    }	
     .text-bottom-line
    {
        width:310px;
    }
    .text1,.text2,.text3
    {
        margin-left:60px;
        float:none;
    }
    .text2,.text3
    {
        float:left;
        margin-top:-10px;
        padding-top:0px;
        margin-left:105px;
    }
    .text3
    {
        margin-left:20px;
    }
}