body
{
	margin: 0 0;
}
p
{
	font-family: Arial;	
}
small{
	font-family: Arial;	
	font-size:16px;
}
#bottom_hob
{
	margin-left:150px;
}
.border_small
{
	padding-left:10px;
	padding-right:10px;
}
.osnova
{
	width: 100%;
	margin: 0 auto;
}
.menu
{
	background-color: #3F4EB6;
	display: flex;
	height: 30px;
	line-height	: 30px;
	width:100%;
}
.menu_button
{
	margin: 0 10px;
	color: white;
}
a:link
{
	color: #FCFCFC;	
	text-decoration: none;
	font-family: Arial;
}
a:hover{
	color: #FCFCFC;	
	text-decoration: underline;
	font-family: Arial;
}
#hob
{
	margin-left:150px;
	font-size:25px;
	font-family: Arial;
}
.autor
{
	background:#E7E9F6;
	height: 850px;
	width: 100%;
}
.text
{
	height:200px;
	margin: 10px;
}
.anonim
{
	text-align: center;
	padding-top:60px;
	padding-bottom:60px;
}
.seti
{
	border-radius: 100%;
}
.text_autor
{
	color: #151E6A;
	text-align: center;
	font-family: Courier New;
	font-size: 20px;
}
.hobbie
{
	background-color: #3F4EB6;
	height: 30px;
}
#hob
{
	color:white;
	margin-left:150px;
	font-size:25px;
	font-family: Arial;
}
.hobbie_content
{
	width: 100%;
	height: 760px;
	background:#C4C9E9;
}
.img_left
{
	width:200px;
	height:200px;
	float:left;
	border-radius: 100%;
	margin-right:20px;
}
.img_right
{
	width:200px;
	height:200px;
	float:right;
	border-radius: 100%;	
	margin-left:20px;
}
.content_hobbie
{
	width: 700px;
	margin: 0 auto;
	padding-top:60px;
	padding-bottom:60px;
}
.foto
{
	background-color: #3F4EB6;
	height: 30px;
	width:100%;
}
#fot
{
	color:white;
	margin-left:150px;
	font-size:25px;
	font-family: Arial;
}
.foto_content
{
	height: 750px;
	background:#E7E9F6;
}
.project
{
	background-color: #3F4EB6;
	height: 30px;
}
#proj
{
	color:white;
	margin-left:150px;
	font-size:25px;
	font-family: Arial;
	
}
.project_content
{
	background:#C4C9E9;
	height: 720px;
	width:100%;
}
.content_project
{
	padding-top: 60px;
	padding-bottom:60px;
	margin: auto ;
	width: 700px;
}
.podval
{
	background-color: #3F4EB6;
	height: 30px;
	width:100%;
}
#logos
{
	color:white;
	margin-left:150px;
	font-size:25px;
	font-family: Arial;
}
.slider{
	width: 700px;
	position: relative;
	padding-top: 550px; 
	margin: 50px auto;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}
.slider>img{
	width:700px;
	height:550px;
	position: absolute;
	left: 0; top: 0;
	transition: all 0.5s;
}
.slider input[name='slide_switch'] {
	display: none;
}
.slider label {
	margin: 18px 0 0 18px;
	border: 3px solid #999;
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	opacity: 0.6;
}
.slider label img{
	display: block;
}
.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}
.slider input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}
.slider input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}