.basis{
	width: 1024px;
	margin: auto;
	background-color: C3E5FF;
}
.head{
	height: 60px;
	font-variant: small-caps;
	font-weight: 700;
	background-color: 3072A6;
	font-family: Tahoma, Verdana, Sans-Serif;
	font-size: 25px;
	color: white;
}
.inhead{
	display: flex;
	margin: auto;
	text-align: center;
	width: 300px;
}
.society{
	display: flex;
	width:  250px;
	margin: 25px auto;
}
.av{
	margin: auto;
	width:  320px;
	height: 320px;
	margin: auto;
}
.users{
	border-radius:160px;
	width:  320px;
	height: 320px;
	margin: 20px 0;
}
h1{
	text-align: center;
	font-family: Tahoma, Verdana, Sans-Serif;
	font-variant: small-caps;
	font-weight: 900;
	font-size: 35px;
	color: 888D98;
}
h2{
	text-align: center;
	font-family: Tahoma, Verdana, Sans-Serif;
	font-variant: small-caps;
	font-weight: 800;
	font-size: 30px;
	color: 6C8DD5;
}
h3{
	text-align: center;
	font-family: Tahoma, Verdana, Sans-Serif;
	font-variant: small-caps;
	font-weight: 800;
	font-size: 30px;
	color: white;
	
}

