@font-face 
{
    font-family:Robotoblack; 
    src: url(../ttf/Robotoblack.ttf); 
}
body
{	
	margin:0px;
	s
}
.div1
{	background-color:rgb(63,81,181);
	height:60px;
	border-bottom:7.5px solid rgb(26,35,126);
	margin-top:-20px;
}
.div2
{       width:1024px;
		margin:0 auto;
	
}
.div3
{	height:1020px;
	background-color:rgb(232,234,246);
	
}
.div4
{
	height:1020px;
	background-color:rgb(197,202,233);
}
a{
text-decoration:none;	
color:rgb(255,255,255);
}
li
{
    display: inline-block;
    margin-right:50px;
    color:rgb(255,255,255);
	font-weight:bold;
    font-size:1.4em;
	font-family:Robotoblack;
	margin-top:18px;
	padding-top:0;
	

 }
.img1
{
	display:block; 
	margin:0 auto; 
	padding:37.5px;
	height:295px;
}
.div5
{	display:block; 
	margin:0 auto;
	width:460px;
}
.div6
{
	font-family:Robotoblack;
	font-size:2.5em;
	width:265px;
	color:rgb(26,35,126);
	margin:40px auto;
}
.img3
{   
	width:62px;
	height:60px;
}
.div7
{	font-family:Robotoblack;
	font-size:2.5em;
	display:block;
	width:120px;
	color:rgb(63,81,181);
	margin:-10px auto;
	
}
.div8
{
	font-family:Robotoblack;
	font-size:2.5em;
	width:169px;
	color:rgb(63,81,181);
	margin:-10px auto;
}
.div9
{	font-family:Robotoblack;
	font-size:2.5em;
	width:130px;
	color:rgb(63,81,181);
	margin:-10px auto;
}
.div10
{
	width:1024px;
	margin:0 auto;
	font-size:2.4em;
	padding-top:7px;
	color:rgb(255,255,255);
	font-family:Robotoblack;
}
.img4
{
	border-radius: 100%;
	width:200px;
	height:200px;
}
.div11
{

	width:1024px;
	margin:220px auto;
	
	
}
.div12
{
	float:left;
}
.div13
{
	width:740px;
	float:right;
	margin-top:30px;
}
.div14
{
	width:690px;
	float:left;
	margin-top:100px;
	margin-left:-70px;
}
.div15
{
	float:right;
	padding-top:50px;
}
.div16
{
	margin-top:50px;
	float:left;
}
.slider{
	width: 1024px;
	position: relative;
	padding-top: 600px; 
	height:100px;
	margin: 0 auto;
}
.slider>img{
    width:1024px;
	position: absolute;
	left: 0; top: 0;
	transition: all 0.5s;
	margin:0 auto;
	margin-top:50px;
}
.slider input[name='slide_switch'] {
	display: none;
}
.slider label {
	margin: 18px 0 0 18px;
	border: 3px solid #999;
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	opacity: 0.6;
}
.slider label img{
	display: block;
	
}
.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
	
}
.slider input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}
.slider input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}
.div17
{
	
	float:left;
}
.div16
{
	float:left;
}
.img6
{
	border-radius: 100%;
	width:260px;
	height:260px;
}
.div18
{
	padding-top:130px;
	position:relative;
	left:80px;
	float:right;
	width:650px;
}
.div20
{
	height:60px;
	background-color:rgb(63,81,181);
	
}
.div21
{
	height:960px;
	background-color:rgb(197,202,233);
}
.div22
{
	width:1024px;
	margin:0 auto;
	padding-top:20px;
	color:rgb(255,255,255);
    font-size:1.4em;
}
