
body{
	
	margin:0;
	padding:0;
}
/*footer*/
.footer{
	height:200px;
	background:#111a29;
	
	margin:auto;
}
.item__footer{
	width:100%;
	max-width:1000px;
	margin:auto;
	display:flex;
	flex-direction:column;
	justify-content:center;
	flex-wrap:wrap;
	height:200px;
	background-image: url(../pic/header-bg1.jpg);
    background-position: right; 
    background-repeat: no-repeat;
    
}
.pic{
	
	height:200px;
	align-self:flex-end;
	float:right;
	
}
.item__footer__text1{
	font-size:35px;
	font-family:Helvetica;
	color:#fbfdff;
    margin: 0;
    margin-left:49px;
	margin-bottom: 4px;
}
.item__footer__text2{
	color:#5e7386;
	font-family:Helvetica;
	font-size:18px;
    margin: 0;
	margin-left:48px;
}
.item__footer__text3{
	font-size:25px;
	font-family:Helvetica;
	color:#fbfdff;
    margin: 0;
	margin-left:48px;
    margin-bottom: 10px;
}
/*end footer*/
/*content*/
.content{	
	height:60px;	
	background:#c0d4df;
}
.item__content__reg{
	display:flex;
	margin:auto;
	width:100%;
	max-width:960px;
	background:#c0d4df;
	/*flex-direction:column;
	justify-content:center;*/
}
.item__content__reg__text{
	margin:17px;
	font-family:Helvetica;
	font-size:26px;
	margin-left:27px;
	
}
.item__content__wrapper{
	background:#e3f2f9;
	padding-bottom:100px;
}
.item__content__wrapper__formspace{
	margin:auto;
	width:100%;
	max-width:1000px;
	height:700px;
	background:#fbfdff;
	display:flex;
	justify-content:flex-start;	
	
	
}
.item__content__wrapper__formspace__name{
    font-family: Helvetica;
    margin-top:41px;
    margin-left: 48px;
    font-style:italic;
}
/*end content*/
.content6{
	background:#364655;
	
	
}
.content7{
	display:flex;
	margin:auto;
	width:100%;
	max-width:960px;
	background:#364655;
}
.text5{
	font-family:Roboto;
	color:#f5ffff;
	font-size:13px;
}