@font-face {
    font-family: Roboto; 
    src: url(../ttf/roboto-black.ttf); 
   }
Body,html {
	padding:0;
	Margin:0;
}
.header1{
	background:#3f51b5;
	width:100%;
	height:70px;
	
}
.content1{
	width:1024px;
	margin:auto;
	display:flex;
	justify-content:flex-start;
}
.text1{
	font-family:Roboto;
	font-size:20px;
	color:#ffffff;
	padding-left:5px;
}
.border{
	height:3px;
	background:black;
}
.napol1{
	height:1000px;
	background:#e8eaf6;
}
.content2{
	width:1024px;
	margin:auto;
	display:flex;
	flex-direction:column;
	align-items:center;
}
img.img1{
	border-radius:100%;
}
.img2{
	height:50px;
	width:50px;
	border-radius:100%;
}
div.img1{
	padding:20px;
}
.ss{
	display:flex;
	margin:auto;
}
.infa{
	display:flex;
	flex-direction:column;
	align-items:center;
	margin:0;
	padding:0;
}
h1{
	font-family:Roboto;
    color:#1a237e;
}
.text2{
	color:#3f51b5;
	font-family:Roboto;
	font-size:30px;
	margin:0;
	
}
.content3{
	
	margin:auto;
	display:flex;
	flex-direction:column;
	align-items:center;
	background:#c5cae9;
	height:1000px;
}
.content4{
	width:1024px;
	display:flex;
	align-items:center;
}
.content5{
	width:1024px;
	display:flex;
	flex-direction:row-reverse;
	align-items:center;
	
}
.text3{
	font-family:Roboto;
	font-size:13px;
}
.content6{
	background:#e8eaf6;
	height:1000px;
	padding-top: 84px;
	

	
}
.content7{
	width:1024px;
	display:flex;
	align-items:center;
	/*height:900px;*/

	
}
.content8{
	
	margin:auto;
	display:flex;
	flex-direction:column;
	align-items:center;
	background:#c5cae9;
	height:700px;
}
.foto1{
	height:50px;
	width:100px;
}
.foto12{
	height:550px;
	width:300px;
}
.slay{
	margin:auto;
}
.slider{
	width: 1050px;
	position: relative;
	padding-top: 550px; 
	margin: 0px auto;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}
.slider>img{
  width:1050px;
	position: absolute;
	left: 0; top: 0;
	transition: all 0.5s;
}
.slider input[name='slide_switch'] {
	display: none;
}
.slider label {
	margin: 18px 0 0 18px;
	border: 3px solid #999;
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	opacity: 0.6;
}
.slider label img{
	display: block;
}
.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}
.slider input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}
.slider input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}
a.ss1{
	text-decoration: none;
}
a.ss1:visited {
	text-decoration: none;
}
a.ss1:active {
	text-decoration: none;
}
a.ss1:hover{
	text-decoration: none;
}